{{#> layout title=title current="blog"}}
    {{#if previous_post_seo_name}}
        <a href="/blog/{{previous_post_seo_name}}">{{previous_post_title}}</a>
    {{/if}}
    {{#if next_post_seo_name}}
        <a href="/blog/{{next_post_seo_name}}">{{next_post_title}}</a>
    {{/if}}
    <h1>{{title}}</h1>
    {{content}}
{{/layout}}